@import '@/styles/colors.scss';

.primary {
  background-color: rgba(28,187,180,0.9019607843137255);
}

.secondary {
  background-color: rgba(255,173,29,0.9019607843137255);
}

a {
  text-decoration: none;
  margin-right: 3rem;

  &:hover {
    text-decoration: underline;
  }
}

.pointer {
  cursor: pointer;
}

.button-action {
  cursor: pointer;
  font-size: 20px;
  color: $main-color;
  font-weight: 400;
  text-align: center;
  background-color: rgba(255,255,255,0.14901960784313725);
  border: 3px solid $main-color;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transition-enter-active, .transition-leave-active {
  transition: opacity .5s;
}

.transition-enter, .transition-leave-to {
  opacity: 0;
}
